<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TagAssist.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
				<key>dateExpires</key>
				<string>2022/6/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FAPanels.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JFJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KissXML.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XMPPFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AB6B290C4C0652D482ABBF033B8430133E92B31C</string>
						<key>dateExpires</key>
						<string>2022/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libidn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8Z6DD752Y7</string>
						<key>name</key>
						<string>MIRRORLIFE CORP. (Enterprise)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8Z6DD752Y7.jp.iholon.TagAssist</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8Z6DD752Y7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TagAssist.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5c6ca7fa-44c3-4bdb-8079-51bb615dabb4</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: jp.iholon.TagAssist</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8Z6DD752Y7</string>
				<key>name</key>
				<string>MIRRORLIFE CORP. (Enterprise)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
